                <div class="col-xs-12 col-sm-11">
                    <ul class="breadcrumb">
                        <li class="dateheading">__date__</li>
                    </ul>
                    <div class="entryheading">
                        <span class="entryheading">
                            <h3>__name____if_handle__(__handle__)__endif__ - __title__</h3>
                        </span>
                   </div>
                   <hr class="style-one" />
                   <table width="100%" style="table-layout:fixed">
                       <tr>
                           <td>
                               <div class="entrycontent">
                                   <p>
                                __if_gravatar__
                                <img src="http://gravatar.com/avatar/__gravatar__" align="right" />
                                __endif__
                                __if_description__
                                <div class="itemdescription">
                                    __description__</div>__endif__
                                   </p>
                               </div>
                           </td>
                       </tr>
                   </table>
                </div>
